header{
    background-color:#495579;
    padding: 10px;
    display:flex;
    justify-content: flex-start;
}
.nav_enlace{
    display: inline-block;
    background-color: #263159;
    padding: 10px 30px;
    margin: 15px;
    border-radius: 30px;
    color: azure;
    text-decoration: none;

}
:link{
    color: black;
    text-decoration: none;
}
:visited{
    color: black;
    text-decoration: none;
}
.nav_enlace:hover{
    background-color: rgb(185, 102, 93);    
}

h1{
    display: inline-block;
    color:#fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
