header{
    background-color: rebeccapurple;
    padding: 10px;
}
.nav_enlace{
    display: inline-block;
    background-color: salmon;
    color:#fff;
    padding: 10px 30px;
    text-decoration:none;
    margin: 15px;
}
.nav_enlace:hover{
    background-color: rgb(185, 102, 93);
}
h1{
    display: flex;
    justify-content: center;
    background-color: salmon;
    color:#fff;
    font-family:'Sans-serif';
}
