.imagen{
    width: 50px;
    height: 50px;
    
}
.imagen:hover{
    width: 55px;
    height: 55px;
}
.numero{
    text-decoration: none;
    color: #FFFBEB;
}
.numero:hover{
    color:  rgb(185, 102, 93);
}